@{
    ViewBag.Title = "Access denied!";
}

@* https://cdn.pixabay.com/photo/2013/07/12/16/50/stop-151342_1280.png *@

<div class="col mx-auto text-center">
    <div style="
        height: 320px;
        width: 320px;
        background-image: url(https://cdn.pixabay.com/photo/2013/07/12/16/50/stop-151342_1280.png);
        margin: auto;
        background-size: contain;
    "></div>
    <h1 style="color: red;">Access denied!</h1>

</div>